@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <i class="fas fa-user"></i>Hello, @context.User.Identity.Name!
        <a href="Logout">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Log In</a>
    </NotAuthorized>
</AuthorizeView>
