@if(Customers.Any())
{
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Customers)
            {
            <tr>
                <td>
                    <a href="/customer/@customer.Id">
                        @customer.Name
                    </a>
                    
                </td>
                <td>
                    <a class="btn btn-info" href="/updateCustomer/@customer.Id">
                        Update

                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"
                            @onclick="() => CallConfirmationModal(customer.Id)">
                        Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <Confirmation BodyMessage="Do you want to delete this Customer?"
                  OnOkClicked="DeleteCustomer" @ref="_confirmation"/>

}
else
{
    <span>Loading Customers...........</span>
}
