<section class="search-input">
    <input type="text" class="form-control" placeholder="Search by company name"
           @bind-value="@SearchTerm" @bind-value:event="oninput" 
           @onkeyup="async () => await OnSearchChanged.InvokeAsync(SearchTerm)"/>
</section>