@page "/audit"

@using RSTLog.Components;
@using System.Net.Http.Headers;

<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/recordSession">Record Session</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/addCredit">Add Credit</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <AuditTable Audits="AuditList"></AuditTable>
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
    </div>
    <div class="col">
        <PageSizeDropdown SelectedPageSize="SetPageSize" />
    </div>
</div>
