@page "/counter"
@using RSTLog.Components 
@using System.Security.Claims

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        The user @context.User.FindFirst(ClaimTypes.Name).Value is authorized.
    </Authorized>
    <NotAuthorized>
        User is not authorized.
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
