@page "/createEmployee"
@using RSTLog.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Administrator")]


<h4>Add a new employee</h4>

<EditForm EditContext="_editContext" OnValidSubmit="Create" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="name" class="col-md-5 col-form-label">Employee</label>
        <div class="col-md-10">
            <InputText id="transType" class="form-control" @bind-Value="_employee.Name" />
            <ValidationMessage For="@(() => _employee.Name)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success" disabled="@formInvalid">Create</button>
        </div>
    </div>
</EditForm>

<EmployeeTable Employees="EmployeeList"></EmployeeTable>
