@page "/customers"

<div class="row">
    <div class="col-md-5">
        @*Search and sort*@
    </div>
    <div class="col-md-2">
        <a class="btn btn-success mb-1" href="/createCustomer">New Customer</a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @*Place for Customers*@
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @*Place for Pagination*@
    </div>
    <div class="col-md-2">

    </div>
</div>
