@page "/"
@using RSTLog.Components

@*<h1>Kudos Remote Service Ticket Log</h1>*@


<div class="jumbotron">
    <img src="/img/kudos-icon.png"><h1 class="display-4">Kudos Remote Service Ticket Log</h1>
    <p class="lead">Log training sessions, software installs and on site days for customers here.</p>
    <hr class="my-4">
    <p>This system replaces the Remote Service Tickets Log spreadsheet held on the M drive.</p>
    <img src="/img/RSTlog.png">
    <p class="lead">
        @*<AuthLinks />*@
    </p>
</div>

